backports.entry-points-selectable
click
distlib
filelock
Flask
gunicorn
itsdangerous
Jinja2
joblib
MarkupSafe
nltk
numpy
platformdirs
regex
scikit-learn
scipy
six
sklearn
textblob
threadpoolctl
tqdm
virtualenv
Werkzeug
